<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <h1>{{title}}</h1>
        <p>Welcome to {{title}}. {{title}} Is an app designed to empower pedestrians/civilians with getting to know the officers that police you. Become part of our community to strengthen the rating system and essentially keeping the officers honest. If you are stopped/detained, research the officer by badge number and see how many run-ins that officer has had, how pleasant/professional they are, how their overall attitude, how many times they have invoked deadly force. rate your experience and select the level of criminal activity you were involved in (All posts are anonymous; the closer to the truth you are, the better the posting for the rest of the community.) <br> FOR COLLABORATORS: Get a server running with these simple commands:</p>
        <div class="code">
            <p>git clone https://github.com/Robo-romeski/policereport.git</p>
            <p>cd policereport</p>
            <p>npm install</p>
            <p>node app.js</p>
        </div>
        <p>The main goal behind NBP was to provide common configuration and tools without all the clutter found in other boilerplate applications. Read more about the project on <a href="https://github.com/stonebk/nodeboilerplate">GitHub</a>.</p>
        {{> github.mustache}}
    </body>
</html>
